# Application settings (non-secret)
supervisor:
  restart_file: sandbox/.restart_requested
  restart_file_check_interval: 5
agents:
  orchestrator:
    model: mistralai/codestral-22b-v0.1 # gpt-5.2
    base_url: http://127.0.0.1:1234/v1 # https://api.openai.com/v1
    instructions: prompts/orchestrator.jinja2



